body
{
    color: rgb(10, 10, 10);
    text-align: center;
<<<<<<< HEAD
    font-family: "courier";
=======
    font-family: "Arial";
>>>>>>> cabecera2
    font-size: 16px;
    margin: 0;
    padding: 0;
}
<<<<<<< HEAD
=======

#cabecera2
{
    background: #33a;
    box-shadow: 0px 2px 20px 0px #000000(0,0,0,0.5);
    color: aliceblue;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #tagline
{
padding: 0 0 1em;
font-weight: normal;
font-size: 0 8em;
}

>>>>>>> cabecera2
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1 px solid #000000;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}